@model PagedList.IPagedList<PwCTools.Models.ProjectUser>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Project/User Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Project/User Access</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "ProjectUsers", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-3">
            <input type="text" class="form-control" name="SearchString" placeholder="Search by name" value="@ViewBag.CurrentFilter">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().User.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Project.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>